{__NOLAYOUT__}
<layout name="Pub/layout2" />
 <script type="text/javascript" src="__PUBLIC__/resources/layer/layer.js"></script>
<!-- 登录主体部分start -->
<div class="login w990 bc mt10">
	<div class="login_hd">
		<h2>找回密码</h2>
		<b></b>
	</div>
	<div class="login_bd">
		<div class="login_form fl">
			<form action="" method="post">
				<ul>
					<li>
						<label for="">手机号：</label>
						<input type="text" class="txt" name="tpl_number" id="tpl_number" style="width:200px;"/>
						<input type="button" id="send_check_code" value="发送验证码">
					</li>
					<li>
						<label for="">验证码：</label>
						<input type="text" class="txt" name="tpl_checkCode" id="tpl_checkCode" style="width:200px;"/>
						
					</li>
				</ul>
			</form>
			
		</div>
		
		<div class="guide fl">
			<h3>还不是商城用户</h3>
			<p>现在免费注册成为商城用户，便能立刻享受便宜又放心的购物乐趣，心动不如行动，赶紧加入吧!</p>

			<p><a href="{:U('user/register')}" class="reg_btn">免费注册 >></a></p>
		</div>

	</div>
</div>
<!-- 登录主体部分end -->
<script type="text/javascript">
  $(function(){
      //手机验证码
      // 绑定点击事件
      $("#send_check_code").click(function () {
          //获取手机号码
          var tel =  $('#tpl_number').val();
          //正则验证手机号码
          if((/^1[34578]\d{9}$/.test(tel)))
          {   //ajax发起请求,发送手机验证码
              $.ajax({
                  url:"{:U('sendCheckCode')}",
                  data:'phone='+tel,
                  type:'post',
                  dataType:'json',
                  success:function(msg){
                      if(msg.code == 200){
                          layer.msg(msg.info, {icon:6});
                          getTime();
                      }else if(msg.code == 202){
                          layer.msg(msg.info, {icon:5});
                      }
                  }
              })
          }else{
              layer.alert('请填写正确手机号', {
                  skin: 'layui-layer-molv' //样式类名
                  ,closeBtn: 0
              })
          }
      })
	  //修改密码/
      $("#tpl_checkCode").blur(function () {
          //获取手机号码
          var tel =  $('#tpl_number').val();
          var tel_checkCode =  $('#tpl_checkCode').val();
          var table = "<div class='login_form fl'>" +
			  "<form action='updPwd' method='post'><input type='hidden' name='phone' value='"+tel+"'><ul><li>" +
			  "<label for=''>新密码：</label>" +
			  "<input type='password' class='txt' name='pwd' style='width:200px;'/>" +
			  "</li><li><label for=''>确定密码：</label>" +
			  "<input type='password' class='txt' name='pwd2' style='width:200px;'/>" +
			  "</li></ul><input type='submit' value='修改密码'></form></div>";
          //正则验证手机号码
              $.ajax({
                  url:"{:U('getBackPwd')}",
                  data:'phone='+tel+'&codeNum='+tel_checkCode,
                  type:'post',
                  dataType:'json',
                  success:function(msg){
                      if(msg.code == 200){
                          layer.tab({
                              area: ['600px', '300px'],
                              tab: [{
                                  title: '修改密码',
                                  content:table
                              }]
                          })
                      }else if(msg.code == 202){
                          layer.msg(msg.info, {icon:5});
                      }
                  }
              })
          
      })
	  
  })
  var itime = 59;//定义一个变量，倒计时初始化，从59秒开始
  function getTime(){
      if(itime>=0){
          if(itime==0){
              //倒计时变成0时，
              //要清除计时器
              clearTimeout(act);
              //设置按钮为初始状态
              $("#send_check_code").val('重新发送');
              $("#send_check_code").prop("disabled",false);
              itime=59;
          }else{
              //延迟一秒中执行该函数。
              var act =  setTimeout('getTime()',1000);
              //把倒计时的秒显示到按钮中
              $("#send_check_code").val('还剩'+itime+'秒');
              itime=itime-1;
              $("#send_check_code").prop("disabled",true);
          }
      }
  }
</script>

