<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul class="nav" id="side-menu">
                <!--<li>-->
                    <!--<a href="index.html"><i class="fa fa-home nav_icon"></i>Dashboard</a>-->
                <!--</li>-->
                
                <li>
                    <a href="#"><i class="fa fa-cogs nav_icon"></i>微信商品平台<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="__MODULE__/WechatSeckill/showlist">每日秒杀</a>
                        </li>
                        <li>
                            <a href="__MODULE__/WechatNewGoods/showlist">每日新增</a>
                        </li>
                            
                    </ul>
                    <!-- /nav-second-level -->
                </li>
            </ul>
            <div class="clearfix"> </div>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>